{description, "New module file to path, command: \n         rebar3 new rust {{name}} path={{path}}"}.
{variables, [
    {name, "hello", "Name of the file, will be create new file to {{path}}"},
    {path, "path", "Path of the app module directory"}
]}.
{template, "rust.erl", "{{path}}/{{name}}.rs"}.