{description, "New suite file to path, command: \n         rebar3 new suite {{name}} path={{path}}"}.
{variables, [
    {name, "hello", "Name of the file, will be create new file to {{path}}"},
    {path, "path", "Path of the app path direpathory"}
]}.
{template, "suite.erl", "{{path}}/{{name}}_SUITE.erl"}.