.sw?
.*.sw?
*.beam
.erlang.mk/
/builds/
/cover/
/deps/
/doc/
/ebin/
/logs/
/node_modules/
/plugins/
/xrefr/
.tool-versions
.tool-versions-e
{{name}}.d
/sbin/
/escript/
.bash_history
.erlang.cookie
deps
rabbitmq
/tmp
{{name}}.tar.gz