{erl_opts, [
  {parse_transform, lager_transform},
  warn_export_all,
  warn_export_vars,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_unused_function,
  warn_deprecated_function,
  warn_unused_import,
  warnings_as_errors
]}.
{minimum_otp_vsn, "22"}.
{eunit_opts, [export_all]}.% same as options for eunit:test(Tests, ...)
{eunit_tests, [{application,{{name}}}]}. % same as Tests argument in eunit:test(Tests, ...)
{cover_enabled, true}.
{dist_node, [
    {name, '{{name}}@127.0.0.1'},
    {setcookie, 'xxxx'}
]}.
{deps, [
]}.
 {profiles, [
  {test, [{erl_opts, [{d, 'TEST'},nowarn_export_all, export_all,{i, "test/eunit"} ]},
           {shell, [{config, "config/sys.config"}]},
           {deps, [jsx, recon, meck]}]}
 ]}.